<div id="aggregations">
      {% for agg in search_response.aggregations.regularPrice.buckets %}
        {% if agg.doc_count > 0 %}
          <div class="aggregation">
            <div>{{ agg.key }}: {{ agg.doc_count }}</div>
          </div>{% endif %}
      {% endfor %}
    <div class="agg-header">Departaments</div>
      {# We've already applied it, just display it #}
      {% for agg in search_response.aggregations.departments.buckets %}
        {% if agg.doc_count > 0 %}
          <div class="aggregation">
            <div>{{ agg.key }}: {{ agg.doc_count }}</div>
          </div>{% endif %}
      {% endfor %}
  <div class="aggregations-result">
    <div class="agg-header">Missing Data</div>
    <div>image: {{ search_response.aggregations.missing_images.doc_count }}</div>
  </div>
</div>
